<a href="https://colab.research.google.com/github/urfavnada/Task-Python/blob/main/BegginersTask_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Task_2  ^_^**

---

# <font color='red'> 1) Mark down all the Valid function-calls for this function: </font>


# def fun1(name, age):<br> ..... print(name,age)






<br> </br>
#### A) fun1( "Emma"  ,  23 )
<br> </br>
#### B) fun1( age = 23  ,  name = "Emma" )
<br> </br>
#### C) fun1( "Emma"  ,  age = 23 )
<br> </br>
#### D) fun1( name = "Emma" ,  23 )
<br> </br>
#### E) fun1( age = 23  ,  "Emma" )

In [1]:
A = True #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}
E = False #@param {type:"boolean"}

# <font color='red'> 2) Debug the following code and correct the Error to make the output = 15: </font>


    
    def outer_fun(a, b , c):
        def inner_fun(d , e):
            return d + e

        return inner_fun(a, b , c)
        return a

    result = outer_fun(5, 10)
    print(result)

In [2]:
def outer_fun(a, b ):
    def inner_fun(d , e):
        return d + e

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

# <font color='red'> 3) Debug the following code and correct the Error to make the output = 16: </font>

    def f1(x):
        global x
        x+=1
        print(x)
    f1(15)

In [3]:
def f1(x):
    x+=1
    print(x)
f1(15)

16

# <font color='red'> 4) Write a function that takes any variable "n" and return its factorial: </font>

##### **hint:** factorial of 5 = 5 x 4 x 3 x 2 x **1**

In [4]:
def factorial(x) :
    if x == 0 or x == 1 :
        return 1
    else :
        return (x * factorial(x-1) )
n = int(input())
print(factorial(n))

5
120

# <font color='red'> 5) Write a code to print the following dictionary after: </font>
* # Ordering the values of each Key and the print the key witht highest value.


> **`dict ={ "Ahmed": (50 , 30 , 40) , "Mohammed": (15 , 10 , 25) , "Khaled": (10 , 40 , 20) }`**


# The output should be:
* `{"Ahmed": (50 , 40 , 30) , "Mohammed": (25 , 15 , 10) , "Khaled": (40 , 20 , 10)}`
* `Ahmed`

In [5]:
dict = {
    "Ahmed": (50, 30, 40),
    "Mohammed": (15, 10, 25),
    "Khaled": (10, 40, 20)
}
def order(dict) :
    for key,value in dict.items() :
        dict[key] = sorted(value, reverse=True)
    return dict

print("Orderd dictionary : ",order(dict))

highest = max(dict, key=lambda k:sum(dict[k]))
print(highest)

Orderd dictionary :  {'Ahmed': [50, 40, 30], 'Mohammed': [25, 15, 10], 'Khaled': [40, 20, 10]}
Ahmed

# <font color='red'> 6) Write a Python function that accepts a string and counts the number of upper and lower case letters. </font>
* ## Sample String : "Do not Postpone today's Work To tomoRRow"

# Expected Output :
* `No. of Upper case characters :  6`
* `No. of Lower case Characters :  27 `

In [6]:
string = input()
num_lower = 0
num_upper = 0
for i in string :
    if i.islower() :
        num_lower = num_lower+1
    else :
        num_upper = num_upper +1
print("N. of lower case char = ",num_lower)
print("N. of upper case char = ",num_upper)

Do not Postpone today's Work To tomoRRow
N. of lower case char =  27
N. of upper case char =  13

# <font color='red'> 7) Write a Python function that two numbers N & M and print the summation of their last digits . </font>

# * `Input :  13  12`
# * `Output: 5`

In [7]:
num1 = int(input())
num2 = int(input())

summation = num1 + num2
last = summation % 10
print("The output ",last)

13
12
The output  5

# <font color='red'> 8) Your input is corresponding to a person's age (in days). print his age in years, months and days, followed by its respective message "years", "months" and "days" . </font>

# * `Input :  400`
# * `Output:  1 year  1 months  5 days`

In [ ]:
age = int(input())
year = age // 365
month = (age % 365) // 30
day = (age % 365) % 30

print("U lived {} years, {} months and {} days" .format(year,month,day))

# <font color='red'> **Solve these problems with python**:<br>
<a href='https://codeforces.com/group/6Yv6FRlDFU/contest/327653/problem/C'> **problem 1** </a> </font>
    <br>
    <br>
<a href='https://codeforces.com/group/6Yv6FRlDFU/contest/327653/problem/A'> **problem 2** </a> </font>

In [ ]:
# problem_1 Link

In [3]:
n = int(input())
s = input()
stone = 0
for i in range(1,n):
    if s[i] == s[i-1] :
        stone +=1
print(stone)

3
RRG
1

In [ ]:
# problem_2 Link

In [1]:
n, m = map(int, input().split())

snake = []
for i in range(n):
    if i % 2 == 0:
        snake.append('#' * m)
    else:
        snake.append('#' + '.' * (m - 1))

for i, row in enumerate(snake):
    if i % 2 == 1:
        row = row[::-1]
    print(row)

3 3
###
..#
###