<a href="https://colab.research.google.com/github/urfavnada/Task-Python/blob/main/BeginnersTask_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='red'> 1) Which of the following statements is NOT true? </font>
#### A) In a symmetric distribution, the mean and the median are equal.
#### B) The first quartile is equal to the twenty-fifth percentile.
#### C) In a symmetric distribution, the median is halfway between the first and the third quartiles.
#### D) The median is always greater than the mean.
#### E) The range is the difference between the largest and the smallest observation in the data set.

In [1]:
A = True #@param {type:"boolean"}
B = True #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}
E = True #@param {type:"boolean"}

[link text](https://)# <font color='red'> 2) What is an outlier? </font>

In [ ]:
# your answerlink text# 2) What is an outlier?

is value that lies an abnormal distance from other values in a random sample from a population.

# <font color='red'> 3) What is the name of the graph below and what insights we discover from it? </font>

![box plot.jpg]()

In [ ]:
Boxplot , we discover five-number summary: the minimum, first quartile, median, third quartile, and maximum

# <font color='red'> 4) What is the meaning of "the most popular response or value in the data set." ? </font>

In [ ]:
mode

# <font color='red'> 5) What is the meaning of "  the average distance between each value in your data set and the mean." ? </font>

In [ ]:
standard deviation

# <font color='red'> 6) The following five questions are focused around a public library. Staff members are trying to gain insight on current library card holders and have sent out a short survey to them. Read each prompt carefully and determine the variable type for each question: </font>

#### 1.Library card holders were asked whether or not they have checked out a book from the library in the past month (yes or no). What type of variable would their response be considered?



#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [2]:
A = True #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}

2.Library card holders were asked to report the amount of late fees they have been charged in the past year (input in the form of $XX.XX). What type of variable would their response be considered?

#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [3]:
A = False #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = True #@param {type:"boolean"}
D = False #@param {type:"boolean"}

3.Library card holders were asked to reflect on their most recent book they checked out and report the genre that it most closely represented (i.e. Science Fiction, Action, Romance, Mystery, etc.). What type of variable would their response be considered?
#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = True #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}

4.The library recently added a new online checkout/renewal system. Library card holders were asked how many times they have used the new online system. What type of variable would their response be considered?
#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = False #@param {type:"boolean"}
B = False #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = True #@param {type:"boolean"}

5.Library card holders were asked to report the satisfaction of their library experience during their last visit using a 1 to 5 scale (with the following representations: 1 - Extremely Unsatisfied, 2 - Unsatisfied, 3 - Neutral, 4 - Satisfied, 5 - Extremely Satisfied). What type of variable would their response be considered?
#### A) Categorical Nominal
#### B) Categorical Ordinal
#### C) Quantitative Continuous
#### D) Quantitative Discrete

In [ ]:
A = False #@param {type:"boolean"}
B = True #@param {type:"boolean"}
C = False #@param {type:"boolean"}
D = False #@param {type:"boolean"}

# <font color='red'> 7) Create a class called Person that include some valriables like :
* name
* age
* gender
* address

In [4]:
class Person :
  def __init__(self, name, age, gender, address):
        self.name = name
        self.age = age
        self.gender = gender
        self.address = address

# <font color='red'> 8) Create a class called Circle which calculates the area and circumference of a circle

In [6]:
import math
class Circle :
  def __init__(self,r):
    self.r = r
  def area(self):
    return math.pi * self.r**2
  def circumference(self):
    return math.pi * 2 * self.r

Circle1 = Circle(5)
print(Circle1.area())
print(Circle1.circumference())

78.53981633974483
31.41592653589793

# <font color='red'> 9) Complete the following code : </font>


    
class Product:

    def __init__(self, name, price, quantity):
        -
        -
        -

    def calculate_total_cost(self):
        return  ---------
        
product1 = Product("Laptop", 15000, 3)

product2 = Product("Headphones", 1200, 2)

In [7]:

def __init__(self, name, price, quantity):
    self.name = name
    self.price = price
    self.quantity = quantity

def calculate_total_cost(self):
    return  self.price * self.quantity

# <font color='red'> **Solve these problems with python**:<br>
<a href='https://codeforces.com/group/xLZjnfy3ER/contest/374078/problem/F'> **problem 1**

<a href='http://codeforces.com/contest/268/problem/A'> **problem 2**
<br>

In [8]:
# Problem 1
def print_pum_lines(N):
    start = 1
    for _ in range(N):
        print(start, start+1, start+2, "PUM")
        start += 4

N = int(input().strip())
print_pum_lines(N)

7
1 2 3 PUM
5 6 7 PUM
9 10 11 PUM
13 14 15 PUM
17 18 19 PUM
21 22 23 PUM
25 26 27 PUM

In [10]:
# Problem 2
def count_guest_uniform_games(n, teams):
    count = 0
    for i in range(n):
        host_color = teams[i][0]
        for j in range(n):
            if i != j and host_color == teams[j][1]:
                count += 1
    return count


n = int(input().strip())
teams = []
for _ in range(n):
    home_color, guest_color = map(int, input().strip().split())
    teams.append((home_color, guest_color))

result = count_guest_uniform_games(n, teams)
print(result)

3
1 2
2 4
3 4
1